:root {
  --poke-img-size: 170px;
  --container-pokemon-width: 480px;
  --container-pokemon-height: 360px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



#answer.correct {
  color: green;
}

#answer.incorrect {
  color: red;
}

body {
  background-color:#f3f6f8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  position: relative;
  width: var(--container-pokemon-width);
  height: var(--container-pokemon-height);
  background-image: url("/src/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
  border-radius: 10px;
}

#pokeImg {
  width: calc(var(--container-pokemon-width) / 2);
  height: calc(var(--container-pokemon-height) / 2);
  object-fit: contain;
  transform: translate(-5%, -30%);
  left: 5%;
  top: 30%;
  position: absolute;
}

#user-guest {
  height: 30px;
  width: 240px;
  margin-bottom: 10px;
  font-size: large;
  text-align: center;
}

button {
  height: 30px;
  width: 120px;
  background-color: steelblue;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: medium;
}


p {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
}

#answer {
  display: block;
  width: 100%;
  font-size: 20px;
}

#points {
  font-size: 20px;
}


@media (max-width: 380px) {
  .container {
    background-size: cover;
    width: 100%;
    border-radius: 0;
  }

  #pokeImg {
    width: calc(100% / 2);
    height: calc(100% / 2);
    left: 0;
  }
}